# Ignorar entornos virtuales de Python
venv/
env/
backend/env/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Archivos de compilación de React/Vite/Astro
node_modules/
dist/
build/
.out/
.next/
.npm/
dist-ssr
*.local

# Bases de datos locales
*.sqlite3
db.sqlite3
.DS_Store

# Configuración de credenciales y variables de entorno
.env
.env.development
.env.*.development

*.pem
config/settings_local.py  # Si usas un archivo local de configuración

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Archivos de Git y sistema operativo
.git/
*.swp
*.swo
*.swn
Thumbs.db
desktop.ini