/* styles.css */
:root {
  /* Tema claro */
  --bg-color: white;
  --bg-color2: #def2fe;
  --text-color: #1a202c;
  --border-color: #4a5568;
  --hover-border-color: #cbd5e0;
  --focus-border-color: #3182ce;
  --focus-shadow-color: rgba(49, 130, 206, 0.6);
  --error-color: #e53e3e;
  --button-bg-color: #3182ce;
  --button-hover-bg-color: #2c5282;
  --separator: #e2e8f0;
  --card-bg: #bee3f8;
}

html.dark {
  /* Tema oscuro */
  --bg-color: #1a202c;
  --bg-color2: #202f49;
  --text-color: #e2e8f0;
  --border-color: #e2e8f0;  
  --hover-border-color: #718096;
  --focus-border-color: #63b3ed;
  --focus-shadow-color: rgba(99, 179, 237, 0.6);
  --error-color: #fc8181;
  --button-bg-color: #2c5282;
  --button-hover-bg-color: #2a4365;
  --separator: #4a5568;
  --card-bg: #2d3748;

}

/* Estilos globales */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Estilos para el separador */
.separator {
  border-color: var(--separator);
}

/* Estilos para las tarjetas */
.card {
  background-color: var(--card-bg);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 16px;
}


nav a[type="button"]{
  border-color: #ccc;
}

/* Estilos para el contenedor del formulario */
.user-form {
  max-width: 600px;
  min-width: 500px;
  margin: 0 auto;
  padding: 1.5rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos para los campos de entrada */
.user-form .field {
  margin-bottom: 1rem;
}

.user-form .field-label {
  /* color: var(--text-color); */
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.user-form .field-input {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 0.375rem;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.user-form .field-input::placeholder {
  color: var(--text-color);
}

.user-form .field-input:hover {
  border-color: var(--hover-border-color);
}

.user-form .field-input:focus {
  border-color: var(--focus-border-color);
  box-shadow: 0 0 0 3px var(--focus-shadow-color);
  outline: none;
}

.user-form .field-input--error {
  border-color: var(--error-color);
}

.user-form .field-error {
  color: var(--error-color);
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

